USE [master]
GO
/****** Object:  Database [TESTE]    Script Date: 18/02/2019 23:35:43 ******/
CREATE DATABASE [TESTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TESTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ROCKY\MSSQL\DATA\TESTE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TESTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ROCKY\MSSQL\DATA\TESTE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TESTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TESTE]
GO
/****** Object:  Table [dbo].[tblUsuario]    Script Date: 18/02/2019 23:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[usuario] [varchar](30) NOT NULL,
	[senha] [varchar](20) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
